<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
    .header {
        display: flex;
    }

    .editor {
        display: inline-block;
        width: 96vw;
        height: 80vh;
        padding: 1vw;
        font-size: 20px;
        border: 1px solid;
    }

    .footer {
        display: flex;
    }
</style>

<body>
    <header class="header"></header>
    <editor contenteditable="true" class="editor">
        editorplaceholder
    </editor>
    <footer class="fotter"></footer>
</body>

</html>